<?xml version="1.0"?>
<config>
	<modules>
    	<UrlShortener_CustomRewrite>
			<version>0.1.0</version>
		</UrlShortener_CustomRewrite>
	</modules>
	<global>
		<helpers>
			<customrewrite>
				<class>UrlShortener_CustomRewrite_Helper</class>
			</customrewrite>
		</helpers>
		<resources>
            <customrewrite_setup>
                <setup>
                    <module>UrlShortener_CustomRewrite</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customrewrite_setup>
            <customrewrite_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customrewrite_write>
            <customrewrite_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customrewrite_read>
        </resources>
	</global>
    <frontend>
        <routers>
            <customrewrite>
                <use>standard</use>
                <args>
                    <module>UrlShortener_CustomRewrite</module>
                    <frontName>customrewrite</frontName>
                </args>
            </customrewrite>
        </routers>
	</frontend>
</config>